*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
  outline: none;
	font-family: 'poppins',sans-serif;
}
#html{
	font-size: 1rem;
}
body{
	 height: 100vh;
	 background-image: url("../image/gray_bg.jpeg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   color: white;
}
header{
	display: flex;
	justify-content: space-between;
	z-index: 10;
	padding: 2rem 5.2%;
	font-size: 2rem;
	background: rgba(0, 0, 0, 0.2);
}
.logo{
	color: white;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 0.5rem;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
nav{
	display: flex;
	padding-right: 1rem;
	gap: 4rem;
}
nav a{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	opacity: 1;
	letter-spacing: 1px;
}
.pj, .srv{
	border: solid white 2px;
	font-weight: 600;
	border-radius: 2rem;
	width: 10rem;
}
nav a:hover{
	cursor: pointer;
	background: white;
	color: rgba(0,0,0,0.6);
	box-shadow: 1px 1px 20px rgba(256,256,256,0.5);
	transition: all ease-in-out 0.3s;
}
#home{
	border-right: dotted 0.8rem rgba(256,256,256,0.5);
	position: absolute;
	width: 56%;
	height: 85%;
	display: flex;
}
.home-content{
	display: flex;
	padding: 5rem;
	padding-left: 5.5rem;
	flex-direction: column;
	h2{
		margin-top: -1.2rem;
		font-size: 2.2rem;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	}
	h3{
		font-size: 3.5rem;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		padding-top: 0.2rem;
	}
	p{
		width: 38rem;
		padding-top: 1rem;
		padding-bottom: 1.5rem;
		text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
		text-align: justify;
	}
}
.butc{
	border-radius: 2rem;
	height: 2.5rem;
	background: white;
}
.butc a{
	color: rgba(0,0,0,0.6);
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 1.2rem;
	transition: all ease 0.2s;
}
.butc:hover{
	cursor: pointer;
	box-shadow: 1px 1px 20px rgba(256,256,256,0.3);
	transition: all ease-in-out 0.3s;
}
#image{
	padding-top:1rem;
	display: flex;
	justify-content: space-around;
}
#fb{
	height: 2rem;
	width: 2rem;
}
#ig{
	height: 2rem;
	width: 2rem;
}
#ld{
	height: 2rem;
	width: 2rem;
}
#x{
	height: 2rem;
	width: 2rem;
}
#contact{
	position: absolute;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.65);
	right: 7rem;
	top: 10rem;
	height: 28rem;
	width: 25rem;
	background: rgba(256, 256, 256, 0.9);
	border-radius: 2rem;
	border: solid 1px rgba(256, 256, 256, 0.5);
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2);
}
#con{
	h1{
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 6rem;
		padding-bottom: 3.5rem;
		letter-spacing: 2px;
		line-height: 1px;
	}
}
#form{
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
input{
	border: solid gray 2px;
	border-radius: 2rem;
	font-size: 1rem;
	margin: 1rem;
	height: 2.5rem;
	width: 18rem;
	color: rgba(0,0,0,0.6);
	text-align: center;
}
input:focus::placeholder{
	color: transparent;
}
.send{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2rem;
	height: 3rem;
	width: 10rem;
	font-weight: 600;
	background: linear-gradient(to right, rgba(211,211,211,1), rgba(105,105,105,1));
	color: rgba(256,256,256,0.9);
	letter-spacing: 2px;
	font-size: 1rem;
	margin: 2rem;
	transition: all ease-in-out 0.3s;
}
.send:hover{
	border: solid gray 1px;
	box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
	transition: all ease-in-out 0.3s;
}
footer{
	position: absolute;
	color: rgba(256,256,256,1);
	bottom: 0;
	font-size: 0.8rem;
	width: 100%;
	padding: 0.4rem;
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.2);	
}